
.wy-nav-content {
    max-width: none;
}

table {
  width: 100% !important;
}

figure a.image-reference {
  text-align: center;
  display: block;
}

caption span.caption-number, caption span.caption-text,
figcaption span.caption-number, figcaption span.caption-text  {
  font-size: 13px;
}

caption span.caption-number::after,
figcaption span.caption-number::after {
  content: " - ";
}

caption, figcaption {
    color: #000;
    font: italic 85% / 1 arial, sans-serif;
    padding: 1em 0 0 0;
    text-align: center;
    caption-side: bottom;
}

figcaption p {
  margin: 0 0 0 0;
}

/* .rst-content .sidebar .sidebar-title {
    margin: -24px -24px 16px;
}
.rst-content .sidebar {
    padding: 24px 24px 16px 24px;
} */

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-nav-content-wrap {
    background: white;
}

button.toggle-button.toggle-button-hidden:before {
    content: attr(data-toggle-hint);
    font-size: .8em;
    align-self: center;
    position: relative;
    top: -10px;
}

.admonition.toggle button.toggle-button-hidden .tb-icon {
    transform: rotate(0deg);
    top: -3px;
    position: relative;
}

.admonition.toggle button .tb-icon {
    transform: rotate(90deg);
    top: -2px;
    position: relative;
}

footer, span.backrefs {
  display: none;
}
 
.wy-nav-content div[role="navigation"] {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

aside.footnote {
    grid-template-columns: auto 5px 5px 100%;
}